<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="icon" href="<%- icon %>" />
    <link rel="stylesheet" href="./css/index.css" >
    <link rel="stylesheet" href="./css/responsive/index.css" >

</head>
<body>

    <nav>
        <div class="logo">
            <img src="<%- icon %> " alt="Logo Image">
        </div>
        <div class="line">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-links">
            <% pages.forEach(page => { %>
            <li><a href="<%- page.url %>"><%- page.name %></a></li>    
            <% }) %>
            <li><button class="login-button" href="#">Login</button></li>
            <li><button class="join-button" href="#">Join</button></li>
        </ul>
    </nav>

</body>
<script src="./js/index.js"></script>
</html>





