<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link rel="icon" href="<%- icon %>" />
  <link rel="stylesheet" href="./css/scroll.css">
  <link rel="stylesheet" href="./css/bot.css">
  <link rel="stylesheet" href="./css/responsive/index.css">
  <script src="https://kit.fontawesome.com/31fd7c4de0.js" crossorigin="anonymous"></script>

</head>

<body>

  <%- include('includes/navbar.ejs'); -%>
  

    <div class="wrapper">
      <div class="img">
        <img class="bot-img" src="<%- bot.img %>"/>
      </div>
      <div class="info">
        <%- bot.name %> <%- bot.des %>
      
        <div>
          <a href="<%- bot.inv %>" target="_blank"><button class="join-button">Invite</button></a>
          <a href="<%- bot.src %>" target="_blank"><button class="join-button">Source</button></a>
          <a href="#commands"><button class="join-button">Commands</button></a>
        </div>
      </div>
    </div>


    <div id="commands">
      <% commands.forEach(command => { %>
        <div class="command">
          <%- command.name %> <%- command.des %>
        </div>
      <% }) %>

    </div>






</body>
<script src="./js/nav.js"></script>

</html>